{% extends 'base.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}
Мои предприятия
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Список моих предприятий</h1>
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th>Название</th>
          <th>Автомобили</th>
          <th>Город</th>
          <th>Часовой пояс</th>
        </tr>
      </thead>
      <tbody>
        {% for enterprise in object_list %}
          <tr>
            <td>{{ enterprise.name }}</td>
            <td><a href={% url 'vehicles' %}>Перейти к авто</a></td>
            <td>{{ enterprise.city }}</td>
            <td>{{ enterprise.timezone }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}