{% extends 'base.html' %}

{% block title %}
Автопарк
{% endblock title %}

{% block content %}
<h1>Авто</h1>
<a href="{% url 'vehicle_create' %}" class="btn btn-primary">Добавить автомобиль</a>
{% for auto in object_list reversed %}

<div class="card mb-3">
    <div class="card-body">
        <div class="media">
            <p class="card-header">{{ auto.model }}</p>
            <p class="card-text">Номер регистрации {{ auto.registration_number }}</p>
            <p class="card-text">VIN: {{ auto.VIN }}</p>
            <p class="card-text">{{ auto.year }} года</p>
            <p class="card-text"><a href="{{ auto.get_absolute_url }}">Перейти к авто</a></p>
        </div>
    </div>
</div>

{% endfor %}
{% endblock content %}